## Print Statement

In [35]:
age = 32

In [36]:
print('My age is:',age)

My age is: 32

In [37]:
# f string
print(f'My age is: {age}')

My age is: 32

In [38]:
# format ()
print("My age is: {}".format(age))

My age is: 32

In [39]:
name = 'Krish'
age = '32'

In [40]:
print("My name is",name,"and my age is",age)

My name is Krish and my age is 32

In [41]:
print(f"My name is {name} and my age is {age}")

My name is Krish and my age is 32

In [42]:
print("My name is {} and my age is {}".format(name,age))

My name is Krish and my age is 32

In [43]:
name = 'Sonu Verma'
age = '20'
degree = 'B.Tech'

In [44]:
print("My age is:",age,"and i have completed: my degree of",degree,"with the name of",name)

My age is: 20 and i have completed: my degree of B.Tech with the name of Sonu Verma

In [45]:
print(F"My age is:{age} and i have compeleted : my degree of {degree} with the name of {name}")

My age is:20 and i have compeleted : my degree of B.Tech with the name of Sonu Verma

In [46]:
print("My age is: {} and i have compeleted : my degree of {} with the name of {}".format(age,degree,name))

My age is: 20 and i have compeleted : my degree of B.Tech with the name of Sonu Verma

## Control Flow

In [47]:
# if statement
age = int(input("Enter the age:"))
if(age >= 18):
    print("you are eligible to vote")

you are eligible to vote

In [48]:
# if else statment
age = int(input("Enter your age:"))
if age >= 18:
    print("you are eligible to vote")
else:
    print("you are not eligible to vote")

you are eligible to vote

In [50]:
age = int(input("Enter your age:"))
if age >= 18 and age <= 45:
    print("You are young blood")

You are young blood

In [51]:
# mall - input the product price
# product >1000 rs 20% off
# print the product price after removing the discount
# product <=1000 rs 30% off
# print the product price after removing the discount

In [52]:
product_price = int(input("Enter the Product price:"))
if product_price > 1000:
    print("Product price is:{}".format(product_price*0.8))
else:
    print("Product price is:{}".format(product_price*0.7))

Product price is:3200.0

In [53]:
# if elif else statement

In [54]:
# mall - input the product price
# product >3000 rs 20% off
# print the product price after removing the discount
# product >=2000 rs 30% off
# print the product price after removing the discount
# product >=1000 rs and <=2000 rs 40% off
# print the product price after removing the discount
# otherwise print lets drink tea

In [55]:
product_price = int(input("Enter the Product price:"))
if product_price > 3000:
    print("Product price is:{}".format(product_price*0.8))
elif(product_price >= 2000):
    print("Product price is:{}".format(product_price-(product_price*0.3)))
elif(product_price>= 1000 and product_price<=2000):
    print("Product price is:{}".format(product_price*0.6))
else:
    print("Lets drink tea")

Product price is:1750.0

In [56]:
# Single statement suit
age = int(input('Enter your age:'))
print('You are eligible to vote') if age >=18  else print("You are not eligible to vote")

You are eligible to vote

# Loop Statement

In [57]:
# while loop
joining_age = 25
while joining_age<=60:
    joining_age+=1
    print(joining_age)
print("Its time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its time for retirement

In [60]:
i = 1
while(i<= 10):
    if i%2==0:
        print(" {}".format(i),end='')
    i +=1

 2 4 6 8 10

In [61]:
# for loop

In [62]:
lst = ['sonu',1,2,3,4,'apple','banana']
for i in lst:
    print(i)

sonu
1
2
3
4
apple
banana

In [65]:
lst = ['sonu',1,2,3,4,'apple','banana']
for i in lst:
    print(i,end=' ')

sonu 1 2 3 4 apple banana

In [66]:
# Nested loop
n=7

In [73]:
for i in range (0,n):
    for j in range (0,i+1):
       print('*',end=' ')
    print('\r')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [77]:
for i in range (0,7):
    print(' '*(n-1),end='')
    n=n-1
    print('* '*i)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [84]:
n = 7
for i in range (0,n):
    print(" "*(n-1),end="")
    n=n-1
    print("* "*i)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *